* {
	margin: 0px;
}

body {
	background-color: #222;
	overflow: hidden;
	position: fixed;
	left: 50%;
	top: 50%;
	height: 375px;
	width: 350px;
	transform: translateX(-50%) translateY(-50%);
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;wa
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

#hud {
	width: 350px;
	background-color: #333;
	color: #FFF;
	height: 25px;
}

#hud p,
#hud #score {
	float: left;
	display: block;
	padding: 5px;
	text-transform: uppercase;
	font-family: arial;
}

#hud #score {
	float: right;
}

#game,
#player {
	width: 350px;
	height: 350px;
	background-color: #000;
	position: relative;
}

#player {
	position: relative;
}



.head,
.tail,
#food {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 1px solid white;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
}

.head {
	top: 240px;
	left: 240px;
	border-color: red;
}

#food {
	top: 0px;
	left: 0px;
	border-color: green;
}

.tail:last-child {
	border-color: purple;
}